{
    "extends": "standard",
    "plugins": ["react", "react-hooks"],
    "rules": {
        "no-use-before-define": "off"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}