.empty-card {
    height: 238 / 16 * 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 28 / 16 * 1rem;

    @media (min-width: 820px) {
        margin-right: 0;
    }

    &__image {
        border: 1px gray dashed;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    &__text {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        color: #8083A4;
    }
} 